.multisave-dialog {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: white;
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 10px;
  filter: drop-shadow(0 0 15px black);
  overflow: auto;

  tr:nth-child(2) {
    background-color: #eeeeee;
  }
}

.multisave-image-preview {
  max-height: 100px;
  padding: 10px;
  border: 1px dotted black;
}

.multisave-header {
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 10px;
  border-bottom: 1px solid #999999;
}
