.multisave-dialog {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: white;
  border: 1px solid #999999;
  border-radius: 10px;
  padding: 10px;
  filter: drop-shadow(0 0 15px black);
  display: flex;
  flex-direction: column;

  .multisave-dialog-scroll {
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #999999;
  }

  table {
    border-collapse: collapse;
  }

  tr:nth-child(2n) {
    background-color: #eeeeee;
  }

  td {
    padding: 10px;
  }
}

.multisave-image-preview {
  max-height: 100px;
  border: 1px dotted black;
}

.multisave-header {
  background-color: white;
  padding-bottom: 10px;
}
